.ajax-progress{display:inline-block;padding:1px 5px 2px 5px;}[dir="rtl"] .ajax-progress{float:right;}.ajax-progress-throbber .throbber{display:inline;padding:1px 5px 2px;background:transparent url(/core/misc/throbber-active.gif) no-repeat 0 center;}.ajax-progress-throbber .message{display:inline;padding:1px 5px 2px;}tr .ajax-progress-throbber .throbber{margin:0 2px;}.ajax-progress-bar{width:16em;}.ajax-progress-fullscreen{position:fixed;z-index:1000;top:48.5%;left:49%;width:24px;height:24px;padding:4px;opacity:0.9;border-radius:7px;background-color:#232323;background-image:url(/core/misc/loading-small.gif);background-repeat:no-repeat;background-position:center center;}[dir="rtl"] .ajax-progress-fullscreen{right:49%;left:auto;}
.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.js input.form-autocomplete{background-image:url(/core/misc/throbber-inactive.png);background-repeat:no-repeat;background-position:100% center;}.js[dir="rtl"] input.form-autocomplete{background-position:0% center;}.js input.form-autocomplete.ui-autocomplete-loading{background-image:url(/core/misc/throbber-active.gif);background-position:100% center;}.js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading{background-position:0% center;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}
.clearfix:after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{min-width:100px;max-width:100%;height:16px;margin-top:5px;border:1px solid;background-color:#fff;}.progress__bar{width:3%;min-width:3%;max-width:100%;height:16px;background-color:#000;}.progress__description,.progress__percentage{overflow:hidden;margin-top:0.2em;color:#555;font-size:0.875em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
table.sticky-header{z-index:500;top:0;margin-top:0;background-color:#fff;}
.system-status-counter__status-icon{display:inline-block;width:25px;height:25px;vertical-align:middle;}.system-status-counter__status-icon:before{display:block;width:100%;height:100%;content:"";background-repeat:no-repeat;background-position:center 2px;background-size:16px;}.system-status-counter__status-icon--error:before{background-image:url(/core/misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning:before{background-image:url(/core/misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked:before{background-image:url(/core/misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;margin-bottom:0.5em;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);}@media screen and (min-width:60em){.system-status-report-counters{display:flex;flex-wrap:wrap;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{margin-top:1em;padding:0 1em 1em;border:1px solid #ccc;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
body.drag{cursor:move;}tr.region-title{font-weight:bold;}tr.region-message{color:#999;}tr.region-populated{display:none;}tr.add-new .tabledrag-changed{display:none;}.draggable a.tabledrag-handle{float:left;overflow:hidden;height:1.7em;margin-left:-1em;cursor:move;text-decoration:none;}[dir="rtl"] .draggable a.tabledrag-handle{float:right;margin-right:-1em;margin-left:0;}a.tabledrag-handle:hover{text-decoration:none;}a.tabledrag-handle .handle{width:14px;height:14px;margin:-0.4em 0.5em 0;padding:0.42em 0.5em;background:url(/core/misc/icons/787878/move.svg) no-repeat 6px 7px;}a.tabledrag-handle:hover .handle,a.tabledrag-handle:focus .handle{background-image:url(/core/misc/icons/000000/move.svg);}.touchevents .draggable td{padding:0 10px;}.touchevents .draggable .menu-item__link{display:inline-block;padding:10px 0;}.touchevents a.tabledrag-handle{width:40px;height:44px;}.touchevents a.tabledrag-handle .handle{height:21px;background-position:40% 19px;}[dir="rtl"] .touch a.tabledrag-handle .handle{background-position:right 40% top 19px;}.touchevents .draggable.drag a.tabledrag-handle .handle{background-position:50% -32px;}.tabledrag-toggle-weight-wrapper{text-align:right;}[dir="rtl"] .tabledrag-toggle-weight-wrapper{text-align:left;}.indentation{float:left;width:20px;height:1.7em;margin:-0.4em 0.2em -0.4em -0.4em;padding:0.42em 0 0.42em 0.6em;}[dir="rtl"] .indentation{float:right;margin:-0.4em -0.4em -0.4em 0.2em;padding:0.42em 0.6em 0.42em 0;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/core/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/core/misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/core/misc/tree.png) no-repeat -11px center;}
.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid .views-col{float:left;}.views-view-grid .views-row{float:left;clear:both;width:100%;}.views-display-link + .views-display-link{margin-left:0.5em;}
.ultimenu{list-style:none;margin:0;min-height:42px;position:relative;z-index:97;}.ultimenu > li{display:block;margin:0;}.ultimenu .ultimenu__link{display:block;line-height:1.6;position:relative;text-decoration:none;transition:background-color .5s,color .5s;}.ultimenu__flyout{display:none;left:0;line-height:1.4;width:100%;z-index:102;}.ultimenu__region{background-color:#fff;padding:20px;}@media all and (max-width:58.999em){.ultimenu > li,.ultimenu .ultimenu__link{min-width:100%;width:100%;}.ultimenu__flyout,.ultimenu--vertical .ultimenu__flyout,.ultimenu--htt .ultimenu__flyout{bottom:auto;height:auto;left:auto;margin:0;right:auto;top:auto;width:100%;}}@media all and (min-width:59em){.ultimenu--hover > li{display:inline-block;vertical-align:bottom;}.ultimenu--hover .ultimenu__flyout{position:absolute;}.ultimenu.ultimenu--hover .ultimenu__link{padding-right:64px;}.ultimenu--hover .ultimenu__link .caret{background-color:transparent;}.ultimenu--hover li .is-ultimenu-active + .ultimenu__flyout{padding:20px 0;}}@media only screen and (min-width:64.063em){.ultimenu--hover .ultimenu__flyout{display:block !important;max-height:0;overflow:hidden;opacity:0;top:100%;transition:all .2s;visibility:hidden;}.ultimenu--hover li:hover > .ultimenu__flyout,.ultimenu--hover li a:active + .ultimenu__flyout,.ultimenu--hover li a:focus + .ultimenu__flyout,.ultimenu--hover li .ultimenu__flyout:focus{max-height:none;min-height:64px;padding:20px 0;overflow:visible;opacity:1;transition-delay:.1s;visibility:visible;}.ultimenu--htt li:hover > .ultimenu__flyout,.ultimenu--htt li a:active + .ultimenu__flyout,.ultimenu--htt li a:focus + .ultimenu__flyout,.ultimenu--htt li .ultimenu__flyout:focus{bottom:100%;max-height:none;top:auto;}.ultimenu--htt .caret,.ultimenu--vertical .caret,.is-ultimenu-canvas--hover .ultimenu__link .caret{display:none;}.ultimenu.ultimenu--hover .ultimenu__link{padding-right:1.5em;}}
.ultimenu *,.ultimenu *::before,.ultimenu *::after{box-sizing:border-box;}.block-ultimenu{position:relative;z-index:98;}.sidebar .block-ultimenu{z-index:96;}.block .ultimenu{padding:0;}.ultimenu__flyout .block{max-width:100%;padding:1em 0;}.is-ultimenu-canvas--active .ultimenu--main .is-active-trail > a{color:#fff;}.ultimenu--main .ultimenu__link,.ultimenu .ultimenu__ajax{padding:1em 1.75em;min-height:42px;}.ultimenu .ultimenu__ajax{display:block;}.ultimenu__link small{display:block;line-height:1;}.ultimenu__icon,.ultimenu__title,.ultimenu__icon::before{display:inline-block;vertical-align:bottom;}.ultimenu__icon{font-size:28px;text-align:center;width:42px;}.has-ultimenu .caret{background-color:rgba(0,0,0,.2);cursor:pointer;display:block;height:100%;min-height:34px;position:absolute;right:0;top:0;width:48px;}[dir="rtl"] .has-ultimenu .caret{left:0;right:auto;}.has-ultimenu .caret::before{border:8px solid transparent;border-top:12px solid #fff;content:'';display:block;height:0;position:absolute;left:50%;top:50%;width:0;z-index:2;transition:all .2s;transform:translate(-50%,-50%);}.has-ultimenu .is-ultimenu-active .caret::before{border-bottom:12px solid #fff;border-top:0;}.ultimenu__flyout::after,.ultimenu__region::after{clear:both;content:" ";display:table;}.block .ultimenu__flyout .ultimenu__region{margin:0;}body:not(:target) .ultimenu .ultimenu__region .menu-item{height:auto;}@media all and (min-width:59em){.ultimenu .ultimenu__link{line-height:1.4;}.ultimenu--htb .ultimenu__region{box-shadow:0 2px 2px rgba(0,0,0,.2);}.ultimenu--htb .ultimenu__flyout,.ultimenu--htb .ultimenu__region{border-radius:0 0 9px 0;}.ultimenu--htt .ultimenu__flyout,.ultimenu--htt .ultimenu__region{border-radius:0 9px 0 0;}.ultimenu .ultimenu__ajax{display:inline-block;padding:0 1.25em;vertical-align:middle;}#header .ultimenu--hover .ultimenu__flyout,#footer .ultimenu--hover .ultimenu__flyout,.sidebar .ultimenu__flyout{min-width:600px;}}
.is-ultimenu-canvas-backdrop{background-color:transparent;bottom:0;left:0;opacity:0;overflow:hidden;position:fixed;top:0;-ms-transition:all .3s ease;transition:all .3s ease;z-index:-1;}.is-ultimenu-expanded .is-ultimenu-canvas-backdrop,.is-ultimenu-canvas--hiding .is-ultimenu-canvas-backdrop{background-color:rgba(0,0,0,.6);opacity:1;-ms-transition-delay:.2s;transition-delay:.2s;height:100%;width:100%;z-index:9997;}.is-ultimenu-canvas--active{position:relative;}.is-ultimenu-canvas.is-ultimenu-expanded,.is-ultimenu-canvas.is-ultimenu-canvas--hiding{overflow:hidden;}.is-ultimenu-canvas .is-ultimenu-canvas-off{backface-visibility:hidden;display:block;float:none;width:100%;z-index:9998;}.is-ultimenu-canvas--active .is-ultimenu-canvas-off{background:rgba(0,0,0,.9) !important;bottom:0;height:100%;height:100vh;left:-100%;max-height:none;max-width:320px;min-height:320px;overflow:hidden;padding:0;position:fixed;top:0;transition:all 500ms ease;}.is-ultimenu-canvas.is-ultimenu-expanded .is-ultimenu-canvas-off{left:0;overflow-y:scroll;-webkit-overflow-scrolling:touch;overflow-scrolling:touch;}.is-ultimenu-canvas--active .is-ultimenu-canvas-on{backface-visibility:hidden;position:relative;}@media only screen and (max-width:58.999em){.is-ultimenu-canvas .is-ultimenu-canvas-off{max-width:80%;position:fixed;}}
.button.button--ultimenu{background:#555;border:0;border-radius:2px;cursor:pointer;display:block;font-size:0;height:40px;margin:0;padding:0;position:fixed;right:15px;text-align:center;text-indent:-999px;top:15px;width:42px;z-index:9999;transition:background-color .3s,transform .2s;}.button.button--ultimenu:hover,.button.button--ultimenu:active,.button.button--ultimenu:focus{background:#111;}.button--ultimenu .bars,.button--ultimenu .bars::before,.button--ultimenu .bars::after{background-color:#fff;content:'';display:block;height:4px;pointer-events:none;position:absolute;left:0;right:0;width:32px;}.button--ultimenu .bars{height:4px;left:5px;right:5px;top:18px;transition:background-color 0s .3s;}.button--ultimenu .bars::before,.button--ultimenu .bars::after{transition-duration:.3s,.3s;transition-delay:.3s,0s;}.button--ultimenu .bars::before{transition-property:top,transform;top:-10px;}.button--ultimenu .bars::after{transition-property:bottom,transform;bottom:-10px;}.is-ultimenu-expanded .button--ultimenu .bars{background-color:transparent;}.is-ultimenu-expanded .button--ultimenu .bars::before,.is-ultimenu-expanded .button--ultimenu .bars::after{transition-delay:0s,.3s;}.is-ultimenu-expanded .button--ultimenu .bars::before{top:0;transform:rotate(45deg);}.is-ultimenu-expanded .button--ultimenu .bars::after{bottom:0;transform:rotate(-45deg);}@media all and (min-width:59em){.is-ultimenu-canvas--hover .button.button--ultimenu{display:none;}}
.is-ultimenu-canvas--active .is-ultimenu-canvas-off{left:0;max-width:100%;-ms-transform:translateY(-100%);transform:translateY(-100%);-ms-transition:-webkit-transform 500ms ease;transition:transform 500ms ease;}.is-ultimenu-canvas.is-ultimenu-expanded .is-ultimenu-canvas-off{-ms-transform:translateY(0);transform:translateY(0);}.is-ultimenu-canvas--active .is-ultimenu-canvas-on{-ms-transform:translateY(0);transform:translateY(0);position:relative;transition:transform 500ms ease;}.is-ultimenu-canvas.is-ultimenu-expanded .is-ultimenu-canvas-on{-ms-transform:translateY(600%);transform:translateY(600%);}@media only screen and (max-width:58.999em){.is-ultimenu-canvas .is-ultimenu-canvas-off{max-width:100%;-ms-transform:translateY(-100%);transform:translateY(-100%);}}
