.wcag21-toggle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 13px;
    height: 40px;
    width: 16px;
    border: 0;
    padding: 2px;
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
  }

  @media only screen and (max-width: 64.063em) {
    .wcag21-toggle {
      display: none;
    }
  }